.headerSection {
	height: 100vh;
}
.header {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 100vh;
	min-height: 635px;
	border-bottom: 10px solid #222;
}
.wrapper {
	min-height: inherit;
	max-height: inherit;
	background-color: rgba(0, 0, 0, 0.4);
}
.nav {
	height: 80px;
	padding: 25px 50px;
	display: flex;
	gap: 12px;
	justify-content: space-between;
}
.nav img {
	width: 145px;
	height: 45px;
}
.signBtn {
	background-color: #e50914;
	color: white;
	padding: 6px 18px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 4px;
	font-size: 16px;
	height: 35px;
	border: none;
	white-space: nowrap;
}
.introSection {
	height: calc(625px - 80px);
	display: flex;
	place-content: center;
}
.introSection .introWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 614px;
	color: white;
}
.introWrapper {
	padding: 0px 25px;
}
.introSection .introWrapper h1 {
	font-size: 3.125rem;
	text-align: center;
}
.introSection .introWrapper h2 {
	font-size: 1.625rem;
	text-align: center;
	font-weight: 400;
	margin: 16px 10px 29px 10px;
}
.signupForm {
	text-align: center;
}
.signupForm h3 {
	font-size: 1.2rem;
	text-align: center;
	font-weight: 400;
	margin-bottom: 20px;
}
.signupForm input {
	height: 60px;
	/* min-width: 450px; */
	width: 100%;
	padding: 10px 14px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border: none;
	box-shadow: none;
	outline: none;
	font-size: 18px;
	transition: all 0.2s;
}
.signupForm input:focus,
.signupForm input:focus-visible {
	border: none;
	box-shadow: -2px 0px 9px 4px #64a4fe;
	outline: none;
}
.inputArea {
	display: flex;
}
.redBtn {
	all: unset;
	font-size: 1.625rem;
	min-height: 60px;
	padding: 0px 27px;
	background-color: #e50914;
	background-image: linear-gradient(180deg, #e50914, #db0510);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	color: #fff;
	user-select: none;
	cursor: pointer;
	white-space: nowrap;
	border-radius: 4px;
}
.redBtn:focus {
	box-shadow: -2px 0px 9px 4px #64a4fe;
}
.edgedBorder {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}
.redBtn:hover {
	background-color: #f40612;
}

/* Enjoy on your TV section */
.enjoyTvSection {
	background-color: #000000;
	color: white;
	display: flex;
	padding: 100px 130px;
	gap: 60px;
	place-items: center;
	border-bottom: 10px solid #222;
}
.writtenSection {
	flex-basis: 50%;
	padding-right: 30px;
}
.writtenSection h1,
.sideWaysIntro h1,
.watchEveryWhere h1 {
	font-size: 3.125rem;
	line-height: 1.1;
	margin-bottom: 1.5rem;
}
.writtenSection h2,
.sideWaysIntro h2,
.watchEveryWhere h2 {
	font-size: 1.625rem;
	font-weight: 400;
	line-height: 1.3;
}

.tvContainer {
	flex-basis: 50%;
	display: flex;
	align-items: center;
}
.tvBox {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.tv {
	position: absolute;
	width: 521px;
	height: 369px;
}
.tvVideo {
	width: 382px;
}

/* download video section */
.downloadSection {
	display: flex;
	align-items: center;
	background-color: black;
	padding: 60px 130px;
	color: #fff;
	border-bottom: 10px solid #222;
}
.downloadSection .sideWaysIntro {
	flex-basis: 50%;
}
.downloadSection .downloadBox {
	flex-basis: 50%;
}
/* watch every where section  */
.watchEveryWhere {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: #000000;
	color: white;
	border-bottom: 10px solid #222;
	padding: 60px 130px;
}

@media (max-width: 1227px) {
	.writtenSection h1,
	.sideWaysIntro h1,
	.watchEveryWhere h1 {
		font-size: 2.525rem;
	}
	.writtenSection h2,
	.sideWaysIntro h2,
	.watchEveryWhere h2 {
		font-size: 1.3rem;
	}
}

@media (max-width: 999px) {
	.enjoyTvSection {
		flex-direction: column;
		padding: 80px 50px;
		justify-content: center;
		align-items: center;
	}
	.downloadSection {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 35px;
	}
	.writtenSection {
		margin-bottom: 17px;
	}
	.writtenSection h1,
	.sideWaysIntro h1 {
		text-align: center;
	}
	.writtenSection h2,
	.sideWaysIntro h2 {
		text-align: center;
	}
	.downloadBox {
		order: 1;
	}
	.sideWaysIntro {
		order: 0;
	}
}

@media (max-width: 767px) {
	.enjoyTvSection,
	.downloadSection,
	.watchEveryWhere {
		padding: 60px 25px;
	}
	.introWrapper h1,
	.writtenSection h1,
	.watchEveryWhere h1,
	.sideWaysIntro h1 {
		font-size: 1.625rem !important;
	}
	.introWrapper h2,
	.writtenSection h2,
	.watchEveryWhere h2,
	.sideWaysIntro h2 {
		font-size: 1.125rem !important;
	}
	.nav {
		padding: 25px;
	}
	.inputArea {
		flex-direction: column;
		align-items: center;
		gap: 17px;
	}
	.inputArea input {
		border-radius: 5px !important;
	}
	.inputArea button[type="submit"] {
		border-radius: 5px;
	}
}

@media (max-width: 590px) {
	.introSection .introWrapper {
		width: 100%;
	}
	.tv {
		width: 396px;
		height: 282px;
	}
	.tvVideo {
		width: 292px;
	}
	.downloadBox img {
		width: 100%;
	}
	.introWrapper h2 {
		margin-bottom: 18px !important;
	}
	.redBtn {
		font-size: 1.2rem;
		min-height: 40px;
		padding: 0 16px;
	}
	.signupForm input {
		height: 45px;
		font-size: 1rem;
	}
	.breakTxt {
		display: none;
	}
}
@media (max-width: 430px) {
	.enjoyTvSection {
		gap: 30px;
	}
	.tv {
		width: 267px;
		height: 188px;
	}
	.tvVideo {
		width: 196px;
	}
}
